*.o

playground/true_false/true
playground/true_false/false
playground/hello_world/hello
playground/c_asm_integration/main
playground/fibonacci/fibonacci
playground/arm_assembly_lessons/lesson01
playground/arm_assembly_lessons/lesson02
playground/arm_assembly_lessons/lesson03
playground/arm_assembly_lessons/lesson04
playground/arm_assembly_lessons/lesson05
playground/arm_assembly_lessons/lesson06
playground/arm_assembly_lessons/lesson07
playground/arm_assembly_lessons/lesson08
playground/arm_assembly_lessons/lesson09
playground/arm_assembly_lessons/lesson10
playground/arm_assembly_lessons/lesson11
playground/prompt/prompt
