*.o

projects/true_false/true
projects/true_false/false
projects/hello_world/hello
projects/c_asm_integration/main
projects/fibonacci/fibonacci
projects/arm_assembly_lessons/lesson01
projects/arm_assembly_lessons/lesson02
projects/arm_assembly_lessons/lesson03
projects/arm_assembly_lessons/lesson04
projects/arm_assembly_lessons/lesson05
projects/arm_assembly_lessons/lesson06
projects/arm_assembly_lessons/lesson07
projects/arm_assembly_lessons/lesson08
projects/arm_assembly_lessons/lesson09
projects/arm_assembly_lessons/lesson10
projects/arm_assembly_lessons/lesson11
projects/prompt/prompt
